## General
reference/
.vs/

## Build artifacts
Calculator.sln
bin/
binint/
CalcGUI/CalcGUI.vcxproj
CalcGUI/CalcGUI.vcxproj.*
Calculator/Calculator.vcxproj
Calculator/Calculator.vcxproj.*

## Imgui artifacts
CalcGUI/imgui.ini